@{
    ViewBag.Title = "Home Page";
}

<!-- START : PAGE -->
<div class="page-home">

    <!-- START : HERO BANNER -->
    <section class="hero dark-grey center">

        <div class="container text-center">

            <h1 class="txt-special text-center">Welcome to Rest<span class="text red txt-special">.</span>Project</h1>

            <h3 class="text-center txt-100 slogan">
                Where you <span class="text red">centralize</span> your resource and share your data across
                all the <span class="text red">projects</span> that you have access on.
            </h3>
            <br />
            <a class="btn btn-lg btn-danger" href="/account/home/signup">
                Signup now for Free!
            </a>

        </div>

    </section>
    <!-- END : HERO BANNER -->
    <!-- START : 2-SIDED CONTENT -->
    <section class="center">

        <div class="container">

            <div class="row">
                <div class="col-md-1"></div>

                <div class="two-sided-content col-md-5">

                    <div class="pad-10">
                        <h1>
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i> <span class="text red">API-Based</span> Resource Manager
                        </h1>

                        <p>
                            Have your resources available to your project
                            be it application, website, or even mobile allowing you
                            to have your resources on all the platforms you develop on
                        </p>
                    </div>

                </div>
                <div class="two-sided-content col-md-5">

                    <div class="pad-10">
                        <h1>
                            <i class="fa fa-globe" aria-hidden="true"></i> <span class="text red">Permission-Based</span> Access
                        </h1>

                        <p>
                            Control who has access to your resource by granting or denying access to
                            the request. This will allow you to share your resources across platforms
                            or other developers.
                        </p>
                    </div>

                </div>

                <div class="col-md-1"></div>
            </div>

        </div>

    </section>
    <!-- END : 2-SIDED CONTENT -->

    <!-- START : DOCUMENTATION  -->
    <section class="center light-grey">

        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 api-doc">

                    <div>
                        <h1>
                            <i class="fa fa-book" aria-hidden="true"></i><span class="text red">API</span> Documentation
                        </h1>

                        <p>
                            If you are having some issues on trying to access resources, please visit our documentation
                            for each and every one of our endpoint and start coding
                        </p>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

    </section>
    <!-- END : DOCUMENTATION  -->

    <!-- START : CONTACT US -->
    <section class="center dark-grey">

        <div class="container">

            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-5 contact-us">

                    <div>
                        <h1>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            Contact <span class="text red">Us</span>
                        </h1>

                        <p>
                            Send us an email if you have more question that is not covered by
                            the documentation or just have a general inquiries regarding the
                            <b class="txt-special">Rest<span class="text red">.</span>Project</b>
                        </p>
                    </div>

                </div>
                <div class="col-md-5 contact-us">

                    <div>

                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input name="email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="question">Question :</label>
                            <select name="question" class="form-control">
                                <option>Resource Manager</option>
                                <option>API</option>
                                <option>Account</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="message">Message :</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>

                        <div class="form-group text-right">

                            <a class="btn btn-danger">
                                send
                            </a>

                        </div>

                    </div>

                </div>
                <div class="col-md-1"></div>

            </div>

        </div>

    </section>
    <!-- END : CONTACT US -->

</div>
<!-- END : PAGE --> 