<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!-- START: SYSTEM SETTINGS -->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--add key="owin:AppStartup" value="Qarka.Web.App_Start.Startup"/-->
  <!-- END  : SYSTEM SETTINGS -->

  <!-- START: APPLICATION SETTINGS -->
  <add key="AutoActivateUser" value="false"/>
  <add key="RestrictEmail" value="true"/>
  <add key="SupportEmail" value="support@qarka.com"/>
  <add key="UserLandingPage" value="/dashboard/"/>
  <add key="SystemConversationTitle" value="qarka-system-title"/>
  <add key="DefaultGet" value="10"/>
  <add key="DefaultMessageGet" value="5"/>
  <add key="systemToken" value="7089685df4fa41a7b10dbb3edd41443a"/>
  <add key="cookieTimeoutMinute" value="30"/>
  <!-- END  : APPLICATION SETTINGS -->

  <!-- START: ACCOUNT SETTINGS -->
  <add key="EmailConfirmTokenUrl" value="/Account/Confirmation/"/>
  <add key="ResetPasswordTokenUrl" value="/Account/ResetPassword/"/>
  <add key="NoAvatar" value="/content/img/qarka/no-avatar.png"/>
  <!-- END  : ACCOUNT SETTINGS -->

  <!-- START: UTILITIY SETTINGS -->
  <add key="BaseFolderRes" value="/qarka_Users/"/>
  <add key="UserFolderRes" value="/qarka_Users/Users/"/>
  <add key="FeatureFolderBaseRes" value="/qarka_Users/features/{0}/"/>
  <add key="FeatureFolderRes" value="/qarka_Users/features/{0}/{1}/"/>
  <!-- END  : UTILITIY SETTINGS -->

  <!-- START: SSO SETTINGS -->
  <add key="FBAPIKey" value=""/>
  <add key="FBAPIPass" value=""/>
  <add key="FBAvatar" value="http://graph.facebook.com/{0}/picture?width=120&amp;height=120"/>
  <add key="GoogleAPIKey" value=""/>
  <add key="GoogleAPIPass" value=""/>
  <add key="TwitterAPIKey" value=""/>
  <add key="TwitterAPIPass" value=""/>
  <!-- END  : SSO SETTINGS -->

  <!-- START : HASH KEY SETTINGS -->
  <add key="systemHashKey" value="883250Tc3j0rP@K"/>
  <add key="systemIVKey" value="k@Pr0j3cTc3j0rP@K"/>
  <add key="systemSaltKey" value="cc499e6c-91ee-42dc-b430-8aa4fd33d270"/>
  <!-- END : HASH KEY SETTINGS -->

  <!-- START: SMTP SETTINGS -->
  <add key="SMTPHost" value="localhost"/>
  <add key="SMTPUser" value="vhallaha@gmail.com"/>
  <add key="SMTPPass" value="@Shiden23"/>
  <add key="SMTPPort" value="465"/>
  <add key="SMTPSSL" value="True"/>
  <!-- END  : SMTP SETTINGS -->

  <!-- START: EMAIL SETTINGS -->
  <add key="ForgotPasswordTemplate" value="/content/emailTemp/forgotPass.html"/>
  <add key="RegistrationTemplate" value="/content/emailTemp/reg.html"/>
  <add key="WatchNotificationEmailTemplate" value="/content/emailTemp/watch.html"/>
  <add key="SendUserEmailTemplate" value="/content/emailTemp/sendusername.html"/>
  <add key="SendActivationTokenTemplate" value="/content/emailTemp/activationtoken.html"/>
  <add key="NewMessageTemplate" value="/content/emailTemp/newmessagetemplate.html"/>
  <!-- END  : EMAIL SETTINGS -->

  <!-- START : DBKEY -->
  <add key="dbConnStr" value="name=DbConnection"/>
  <!-- END : DBKEY-->

  <!-- START : REST PROJECT KEYS -->
  <add key="apiBaseUrl" value="http://dev.restproject.com"/>
  <add key="apiKey" value="509e567218264608a91aa11213892886"/>
  <add key="apiSecret" value="2ed65ad45ca8486a8ff781122e06702f"/>
  <add key="apiMemKey" value="6132c038ff0146f09a4e2dfab03a28aa"/>
  <!-- END : REST PROJECT KEYS -->

  <!-- START : API SERVER KEYS -->
  <add key="memServResId" value="1"/>
  <!-- END : API SERVER KEYS-->

</appSettings>

